{% extends 'base.html' %}
{% comment %}

This is the display for the 'MeetingForm' form.

URL: cell_form/
Model: Cell
ModelForm: CellForm
View: CellFormPage [FormView]
View Return: HttpResponse : message - "Success."

* = preset when user is logged in.

{% endcomment %}

{% block content %}

<style>
  #next {
    background-color: indigo; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
  #t {
    font-size: 20px;
  }

  #list {
    font-color:black;
  }

</style>
<!-- <a href="{% url 'cell_form' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> -->
<form method="post" id="cellForm" data-members-url="{% url 'ajax_load_members' %}" novalidate>
{% csrf_token %}
    <!-- *name -->
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.cell.errors }}
        <label for="id_name" id='cell_name'>Cell:</label>
          <table id='t'>
            <!-- {{ form.as_table }} -->
            {{ form.cell }}
          </table>
          <button type="submit" id='next'>
            <label>Choose Attendees</label>
              <i class="fa fa-thumb-tack"></i>
          </button>
    </div>
    <div>
      <!-- The attendee list is only members within the cell -->
        <label>Attendee List</label>
        {% for member in form.member %}
        <input type="checkbox" value="{{ member.pk }}">{{ member }}
        {% endfor %}
        <label>Meeting Recorder: </label>
        {{ form.member }}
        <button type="submit" id='next'>
          <label>Submit</label>
            <i class="fa fa-thumb-tack"></i>
        </button>
    </div>

    <!-- <button type="submit" id='next'>
      <label>Next</label>
        <i class="fa fa-thumb-tack"></i>
    </button> -->


</form>
  <!-- <div> -->
    <!-- The attendee list is only members within the cell -->
    <!-- <label for='checkbox' id='list'>Attendee List:</label>
      <input type='checkbox'>
        {{ form.member }}
      </input>
  </div> -->
<!-- <form method="post" id="cellForm" data-members-url="{% url 'ajax_load_members' %}" novalidate>

</form> -->


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_cell").change(function () {
    var url = $("#cellForm").attr('data-members-url', 'data-attendees-url');  // get the url of the `load_members` view
    var cellID = $(this).val();  // get the selected cell ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-members/)
      data: {
        'cell': cellID       // add the cell id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_members` view function
        $("#id_member").html(data);  // replace the contents of the member input with the data that came from the server
      }
    });

  });
</script>
{% endblock %}
