{% extends 'base.html' %}
{% comment %}

This is the display for the 'MeetingForm' form.

URL: cell_form/
Model: Cell
ModelForm: CellForm
View: CellFormPage [FormView]
View Return: HttpResponse : message - "Success."

* = preset when user is logged in.

{% endcomment %}

{% block content %}

<style>
  #next {
    background-color: indigo;
    /* border: none; */
    color: white;
    /* padding: 10px 30px; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 20px; */
  }

  #list {
    font-color:black;
  }
  #cellForm {
    margin-left: 20px;
    margin-right: 500px;
    /* background-color: #99CCFF; */
  }

  /* #b {
    background-color: #9999FF;
  } */
</style>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body id='b'>
<!-- <a href="{% url 'cell_form' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> -->
<form method="post" id="cellForm" data-members-url="{% url 'ajax_load_members' %}" novalidate>
{% csrf_token %}
    <!-- *name -->
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.cell.errors }}
        <label for="id_name" id='cell_name'>Cell:</label>
          <table id='t'>
            <!-- {{ form.as_table }} -->
            {{ form.cell }}
          </table>
          <button type="submit" id='next'>Choose Attendees</button>

    </div>
    <div>
      <!-- The attendee list is only members within the cell -->
        <label>Attendee List</label><br>
        {% for member in form.member %}
        <input type="checkbox" value="{{ member.pk }}">{{ member }}
        {% endfor %}
        <label>Meeting Recorder: </label>
        {{ form.member }}
        <!-- <label>Take Attendance</label> -->
        <!-- {{ form.attendee_list }} <br> -->
        <button type="submit" id='next'>Next</button>

        <!-- <a href="{% url 'work_review' %}">Clic here</a> -->
        <!-- <a href="work_review">Clic here</a> -->
    </div>
</form>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_cell").change(function () {
    var url = $("#cellForm").attr('data-members-url', 'data-attendees-url');  // get the url of the `load_members` view
    var cellID = $(this).val();  // get the selected cell ID from the HTML input
    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-members/)
      data: {
        'cell': cellID       // add the cell id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_members` view function
        var lst = $("#id_member").html(data);  // replace the contents of the member input with the data that came from the server
        // var lst1 = $("id_attendee_list").html(data);
      }
    });
  });
</script>
{% endblock %}
