{% extends 'meetings/cell_form.html' %}

{% block content %}
{% load widget_tweaks %}

<html>
<style>
  #objectiveReview_form {
    margin-left: 400px;
    margin-right: 300px;
    text-align: left;
  }

  .text {
    font-size: 20px;
  }

  #ob {
    color: indigo;
    font-weight: bold;
  }
</style>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<form id='objectiveReview_form'>
<h2>
Objectives Review
</h2><br>
  <div class='text'>
    <tr>
      <td><label id='ob'>Objective:</label>
      {{ obj_data.objective_text }}</td>
      <br><label id='ob'>Objective Owner 1:</label>
      {{ obj_data.member1 }}
      <br><label id='ob'>% Responsiblity:</label>
      {{ obj_data.res1 }}
      <br><label id='ob'>Objective Owner 2:</label>
      {{ obj_data.member2 }}
      <br><label id='ob'>% Responsiblity:</label>
      {{ obj_data.res2 }}
    </tr>
  </div>

</form>
</html>




{% endblock %}
