{% extends 'meetings/cell_form.html' %}

{% block content %}

<!-- Source Code: http://www.mkyong.com/jquery/how-to-add-remove-textbox-dynamically-with-jquery/ -->
<style>
	div{
		padding:8px;
	}
  #txtNew, #id_content_val, #id_content_noVal {
    display:none;
    width: 600px;
    height: 150px;
    border-color: black;
    border-width: 1px;
    font-size: 15px;
  }
  #addButton, #removeButton, #add_work, #next {
    color: indigo;
    background-color: aliceblue;
    border-color: indigo;
    font-size: 15px;
  }
  #selection {
    font-size: 20px;
  }

  #add_work{
    margin-top: 40px;
    margin-right: 100px;
    position:absolute;
    top:0;
    right:0;
  }

  #next {
    margin-top: 40px;
    margin-right: 40px;
    position:absolute;
    top:0;
    right:0;
  }

  #workreview_form {
    margin-left: 20px;
    margin-right: 500px;
  }

</style>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<form method='post' id='workreview_form' novalidate>
  <body>
  <h2> Work Review </h2>
  </body>
{% csrf_token %}
    <!-- *name -->
    {{ form.non_field_errors }}
    <label>Member:</label>
    {{ form.member }}
    <!-- <select>
      {% for member in form.member %}
      <option value="{{ member.pk }}">{{ member.member_name }}</option>
      {% endfor %}
    </select><br><br> -->
    <label>File Location:</label>
    {{ form.file_location }}<br><br>
    <label id='selection'><b>Select the appropriate box:</b></label><br>
    <!-- {{ form.content_val }} -->
    {% for form in formset %}
      <label>{{ form.file_location.label }}</label>
    {% endfor %}
    <!-- {% for val in form.validate %}
    <div class="myradio">
        {{ val }}
    </div>
    {% endfor %}
    <br> -->
    {% for val in form.validate %}
    <label for="{{ val.id_for_label }}">
        <span class="radio">{{ val.tag }}</span>
        {{ val.choice_label }}<br>
    </label>
    {% endfor %}
    <td valign='top' id='a'>{{ form.content_val }}</td>
    <!-- <td valign='top' id='b'>{{ form.content_noVal }}</td> -->
    <br><button type="submit">Submit</button>
    <br>



    {{ form.meeting.id }}


<!-- <div class="container">
  <div id='TextBoxesGroup'>
  	<div id="TextBoxDiv1">
  		<label>File Location #1 : </label><input type='textbox' id='textbox1'>
  	</div>
  </div>
  <input type='button' value='Add File Location' id='addButton' class='btn_add'>
  <input type='button' value='Remove File Location' id='removeButton'>
  <div class="forms_button">
    <textarea class="longInput" id="txtOther" cols="30" rows="10" placeholder="Enter comments here"></textarea>
    <textarea class="longInput" id="txtNew" cols="30" rows="10" placeholder="Enter why this work cannot yet be validated"></textarea>
    <br>
  </div> -->

<div class ="append_cont"></div>
<input type="button" value="Add Work Review" id="add_work">
<button type="submit" id='next'>
  <label>Next</label>
    <i class="fa fa-thumb-tack"></i>
</button>

<!-- {% for val in form.validate %}
<input type="radio" value="{{ validate.pk }}">{{ val }}
{% endfor %} -->


<script type="text/javascript" src="https://code.jquery.com/jquery-1.3.2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
      var counter = 2;
      $(".btn_add").click(function () {
  	var newTextBoxDiv = $(document.createElement('div'))
  	     .attr("id", 'TextBoxDiv' + counter);
  	newTextBoxDiv.after().html('<label>File Location #'+ counter + ' : </label>' +
  	      '<input type="text" name="textbox' + counter +
  	      '" id="textbox' + counter + '" value="" >');
  	newTextBoxDiv.appendTo("#TextBoxesGroup"); //changed div to reference class name instead of id
  	counter++;
       });
       $("#removeButton").click(function () {
     if(counter==1){
            alert("No more textbox to remove");
            return false;
         }
     counter--;
          $("#TextBoxDiv" + counter).remove();
       });
    });
    $("#id_validate_1").click(function () {
      if ($(this).is(":checked")) {
        if (!($("#id_content_val").is(":hidden"))) {
          $("#id_content_val").hide();
        }
          //document.getElementById('id_content_val').style.display = '';
          // $("#id_content_val").val('Enter comments here.')
          $("#id_content_val").attr('placeholder', 'Enter comments here.');
          $("#id_content_val").show(); //id was original txtOther
      } else {
         $("#id_content_val").hide();
      }
   });
   $("#id_validate_2").click(function () {
     if ($(this).is(":checked")) {
       if (!($("#id_content_val").is(":hidden"))) {
         $("#id_content_val").hide();
       }
        // $("#id_content_noVal").show();
        $("#id_content_val").attr('placeholder', 'Enter why this work cannot yet be validated.');
        $("#id_content_val").show();
     } else {
        $("#id_content_val").hide();
     }
   });
    $("#id_validate_0").click(function () {
      if ($(this).is(":checked")) {
        $("#id_content_val").hide();
        // $("#id_content_noVal").hide();
       }
     });

    $(document).ready(function (){
      $('#add_work').click(function (){
            $('.container').clone().appendTo('.append_cont');
        })
      });

</script>
</body>
</form>
</html>

{% endblock %}
