<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Koniku Meeting Tracker{% endblock %}</title>
    <style type="text/css">
      .errorlist {
        margin: 0;
        padding: 0;
      }
      .errorlist li {
        list-style: none;
        font-size: 90%;
        color: red;
      }
      .errorlist ~ input,
      .errorlist ~ select {
        border-color: red;
      }
      h1 {
        color:indigo;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 40px;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'cell_form' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <h1>Koniku Meeting Tracker</h1>
    <hr>
    {% block content %}
    {% endblock %}
  </body>
</html>
